<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>
                                            <!-- esto es la pagina en si -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
  </ion-header>
  <div >
    <div style="margin-top: 10%;"></div>
    <div style="text-align: center;">
      <h2>Bienvenido a farmaciasEv</h2>
      <h4>evacion de impuestos</h4>
    </div>
    <br style="margin-top: 10%;">
    <ion-item>
      <label style="text-align: center;"> ¿tienes una cuenta ?</label>
    </ion-item>
    <ion-button onclick="window.location.href='/LoginClientes'" expand="block">iniciar sesion</ion-button>
      
 
    <ion-item>
      <label style="text-align: center;"> ¿crea una cuenta ?</label>
    </ion-item>
    <ion-button onclick="window.location.href='/CrearClientes'"expand="block"color="danger">registrarse</ion-button>


  </div>



</ion-content>
